/* sets padding and font size for the body */
body{
    padding: 10px;
    font-size: 32px;
}
/* aligns all the text center */
main{
    text-align: center;

}
/* no styling for the lists */
ol,ul{
    list-style-type: none;
}
/* padding for the h1, h2, p elements */
h1,h2,p{
    padding: 10px;
}

/* centering the answers and adding padding */
ol li{
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    left: 50%;
    max-width: 250px;

}

/* addding background to the list */
ol li,button{
    border-radius: 8px;
    cursor: pointer;
    background-color: #80669d;
    color: white;
    padding: 5px;
}
/* adds hover to buttons and answers to change background and text color */
ol li:hover,button:hover{

    background-color: #a881af;
    color: black;

}
/* makes inout size match */
input{
    font-size: 32px;
}
